#{extends 'Secure/layout.html' /}

<div id="login">
    <div style="margin-bottom:0px;" class="container-fluid well">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <img style="height:50px;" src="../public/images/logo-1-300x69.png" alt="rosteriqlogo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid well btn-inverse">
        <div class="container">
            <div class="row">
                <div class="offset3 span6 well special-well">
                    <h3>Log in</h3>
                    #{form @authenticate()}
                    #{if flash.error}
                    <div class="alert alert-danger">&{flash.error}</div>
                    #{/if}
                    #{if flash.success}
                    <div class="alert alert-success">&{flash.success}</div>
                    #{/if}
                    <label style="color:black" for="username">&{'secure.username'}</label>
                    <input type="text" name="username" id="username" value="${flash.username}" />
                    <label style="color:black" for="password">&{'secure.password'}</label>
                    <input type="password" name="password" id="password" value="" />
                    <br/>
                    <input class="pull-left" style="margin-right:10px;" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
                    <label style="color:black" for="remember">&{'secure.remember'}</label>
                    <button style="margin-top:20px;" class="btn btn-primary" type="submit" id="signin">&{'secure.signin'}</button>
                    #{/form}
                </div>
            </div>
        </div>
    </div>
</div>
