.colour-blue
{
	background-color: #B1DDF3;
	background-image: -moz-linear-gradient(top, #B1DDF3, #83C9EC);
	background-image: -ms-linear-gradient(top, #B1DDF3, #83C9EC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1DDF3), to(#83C9EC));
	background-image: -webkit-linear-gradient(top, #B1DDF3, #83C9EC);
	background-image: -o-linear-gradient(top, #B1DDF3, #83C9EC);
	background-image: linear-gradient(top, #B1DDF3, #83C9EC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1DDF3', endColorstr='#83C9EC', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-blue:hover,
.colour-blue:active,
.colour-blue.active,
.colour-blue.disabled,
.colour-blue[disabled] {
  background-color: #83C9EC;
  background-image:none;
}

.color-blue
{
	background-color: #83C9EC;	
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.colour-yellow
{
	background-color: #FFDE89;
	background-image: -moz-linear-gradient(top, #FFDE89, #FFCF57);
	background-image: -ms-linear-gradient(top, #FFDE89, #FFCF57);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFDE89), to(#FFCF57));
	background-image: -webkit-linear-gradient(top, #FFDE89, #FFCF57);
	background-image: -o-linear-gradient(top, #FFDE89, #FFCF57);
	background-image: linear-gradient(top, #FFDE89, #FFCF57);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDE89', endColorstr='#FFCF57', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-yellow:hover,
.colour-yellow:active,
.colour-yellow.active,
.colour-yellow.disabled,
.colour-yellow[disabled] {
  background-color: #FFCF57;
  background-image:none;
}

.color-yellow
{
	background-color: #FFCF57;	
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);	
}

.colour-green
{
	background-color: #C2D985;
	background-image: -moz-linear-gradient(top, #C2D985, #B0CE5F);
	background-image: -ms-linear-gradient(top, #C2D985, #B0CE5F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C2D985), to(#B0CE5F));
	background-image: -webkit-linear-gradient(top, #C2D985, #B0CE5F);
	background-image: -o-linear-gradient(top, #C2D985, #B0CE5F);
	background-image: linear-gradient(top, #C2D985, #B0CE5F);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2D985', endColorstr='#B0CE5F', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-green:hover,
.colour-green:active,
.colour-green.active,
.colour-green.disabled,
.colour-green[disabled] {
  background-color: #B0CE5F;
  background-image:none;
}

.color-green
{
	background-color: #B0CE5F;	
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);	
}

.colour-purple
{
	background-color: #F1B2E1;
	background-image: -moz-linear-gradient(top, #F1B2E1, #E986D0);
	background-image: -ms-linear-gradient(top, #F1B2E1, #E986D0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1B2E1), to(#E986D0));
	background-image: -webkit-linear-gradient(top, #F1B2E1, #E986D0);
	background-image: -o-linear-gradient(top, #F1B2E1, #E986D0);
	background-image: linear-gradient(top, #F1B2E1, #E986D0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1B2E1', endColorstr='#E986D0', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-purple:hover,
.colour-purple:active,
.colour-purple.active,
.colour-purple.disabled,
.colour-purple[disabled] {
  background-color: #E986D0;
  background-image:none;
}

.color-purple
{
	background-color: #E986D0;	
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.colour-red
{
	background-color: #E3675C;
	background-image: -moz-linear-gradient(top, #E3675C, #DC4032);
	background-image: -ms-linear-gradient(top, #E3675C, #DC4032);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3675C), to(#DC4032));
	background-image: -webkit-linear-gradient(top, #E3675C, #DC4032);
	background-image: -o-linear-gradient(top, #E3675C, #DC4032);
	background-image: linear-gradient(top, #E3675C, #DC4032);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3675C', endColorstr='#DC4032', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-red:hover,
.colour-red:active,
.colour-red.active,
.colour-red.disabled,
.colour-red[disabled] {
  background-color: #DC4032;
  background-image:none;
}

.btn-grey
{
	background-color: #9295A0;
	background-image: -moz-linear-gradient(top, #9295A0, #777B88);
	background-image: -ms-linear-gradient(top, #9295A0, #777B88);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9295A0), to(#777B88));
	background-image: -webkit-linear-gradient(top, #9295A0, #777B88);
	background-image: -o-linear-gradient(top, #9295A0, #777B88);
	background-image: linear-gradient(top, #9295A0, #777B88);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9295A0', endColorstr='#777B88', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-grey:hover,
.btn-grey:active,
.btn-grey.active,
.btn-grey.disabled,
.btn-grey[disabled] {
  background-color: #777B88;
  background-image:none;
}

.colour-grey{
    background-color: #9295A0;
    background-image: -moz-linear-gradient(top, #9295A0, #777B88);
    background-image: -ms-linear-gradient(top, #9295A0, #777B88);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9295A0), to(#777B88));
    background-image: -webkit-linear-gradient(top, #9295A0, #777B88);
    background-image: -o-linear-gradient(top, #9295A0, #777B88);
    background-image: linear-gradient(top, #9295A0, #777B88);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9295A0', endColorstr='#777B88', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    color:white;
}

.colour-orange
{
	background-color: #FF8533;
	background-image: -moz-linear-gradient(top, #FF8533, #FF6600);
	background-image: -ms-linear-gradient(top, #FF8533, #FF6600);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6600), to(#FF8533));
	background-image: -webkit-linear-gradient(top, #FF8533, #FF6600);
	background-image: -o-linear-gradient(top, #FF8533, #FF6600);
	background-image: linear-gradient(top, #FF8533, #FF6600);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8533', endColorstr='#FF6600', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.colour-orange:hover,
.colour-orange:active,
.colour-orange.active,
.colour-orange.disabled,
.colour-orange[disabled] {
  background-color: #FF6600;
  background-image:none;
}

.color-orange
{
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color: #FF6600;	
}

.colour-black
{
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #333333, #4D4D4D);
	background-image: -ms-linear-gradient(top, #333333, #4D4D4D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D4D4D), to(#333333));
	background-image: -webkit-linear-gradient(top, #333333, #4D4D4D);
	background-image: -o-linear-gradient(top, #333333, #4D4D4D);
	background-image: linear-gradient(top, #333333, #4D4D4D);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#4D4D4D', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-black
{
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #333333, #4D4D4D);
	background-image: -ms-linear-gradient(top, #333333, #4D4D4D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D4D4D), to(#333333));
	background-image: -webkit-linear-gradient(top, #333333, #4D4D4D);
	background-image: -o-linear-gradient(top, #333333, #4D4D4D);
	background-image: linear-gradient(top, #333333, #4D4D4D);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#4D4D4D', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-black:hover,
.btn-black:active,
.btn-black.active,
.btn-black.disabled,
.btn-black[disabled] {
  background-color: #333333;
  background-image:none;
}

.color-black
{
	background-color: #333333;	
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.solid
{
	background-image:none;
}

.transparent
{
	background-color:transparent;
	background-image:none;
	color:white;
}
.transparent:hover,
.transparent:active,
.transparent.active,
.transparent.disabled,
.transparent[disabled] {
  background-color: transparent;
}

.white
{
	color:white;
}
.white:hover,
.white:active,
.white.active,
.white.disabled,
.white[disabled] {
  color:white;
}