/* SCHEDULER PAGE
-------------------------------*/

.firstRow
{
    margin-top: 42px;
}


.unavailable
{
    background-color:grey;
    text-align:center;
    vertical-align:middle;
    color:white;
}

.unavailabilityDescription
{
    padding:8px;
}

.employeeDayShiftCell
{
    vertical-align:top;
}

.positionDayShiftCell
{
    vertical-align:top;
}

.positionSlider
{
    margin-top:1px;
}

.hoverCell
{
    border:1px solid orange;
}


.textWhite
{
	color:White;
}

.textBlack
{
	color:black;
}

.mainContent
{
    margin-top: 20px;
    margin-bottom:65px;
}

.headerText
{
	font-size:20px;
	font-weight:100;
	padding:20px 0px 10px 0px;
}

.headerLinkText
{
	font-size:20px;
	font-weight:100;
	padding:5px 0px 5px 0px;
}

.dropdown-menu a
{
	font-weight:inherit;
}

.headerLinkText:hover
{
	background-color:DarkSlateBlue;
}

.headerLink
{
	color:black;
	margin: 0 2px;
}

.headerLink > a
{
	color:inherit;
}

.navbar-fixed-top .brand
{
	font-size:40px;
	font-weight:100;
	padding:20px 0px 20px 0px;
	margin-left:10px;
}

.navbar .btn, .navbar .btn-group
{
	margin-top:30px;
}


.headerBackground
{
	background-color:white;
	background-image:none;
}

.nav-collapse .nav .active > a,
.nav-collapse .nav .active > a:hover,
.nav-collapse .nav li > a:hover
{
	background-color:transparent;
}

.navbar .divider-vertical
{
	background-color:#777;
	border-right:0px;
}

.personShift
{
    display:block;
    /*margin-bottom:2px;*/
}

td.personShiftCell
{
    position:relative;
    padding:0px;
    vertical-align:top;
}

td.positionShiftCell
{
    position:relative;
    padding:0px;
    vertical-align:top;
}

.positionShift
{
    display:block;
    /*margin-bottom:2px;*/
}

/* Day view css */
.positionShiftDelete
{
    margin-left:10px;
}

.employeeShiftDelete
{
    margin-left:10px;
}



/*
.personShiftCell ui-droppable:hover
{
    backgroundColor:"#B3C6FF";
}

.positionShiftCell ui-droppable:hover
{
    backgroundColor:"#B3C6FF";
}*/


.personShift > b
{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.personShift > p
{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.positionShift > b
{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}
.positionShift > p
{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.table td.positionDayShiftCell
{
    padding:0px;
}
.table td.employeeDayShiftCell
{
    padding:0px;
}

/* Unavailability Page
--------------------------------------- */

.table td.unavailabilityCell
{
    padding:0px;
}

#unavailabilityTitle
{
    font-size: 20px;
    font-weight:300;
    padding-bottom: 30px;
}

.unavailabilityBlockRow
{
    cursor:pointer;
}


/*-----------------------------*/

.ui-slider-horizontal
{
    margin-bottom:0px;
}

.navbar .btn, .navbar .btn-group, .summaryButton
{
    margin-top:0px;
    display:block;
}

/*--------------- PUBLISHING SHIFTS -------------------*/

.draftShift{
    opacity:0.4;
}

.publishedShift
{
    opacity:1.0;
}

/*--------------- END PUBLISHING SHIFTS -------------------*/

/*-----------------MY ROSTER PAGE --------------------------*/

#myRosterDescription
{
    font-size: 17px;
    font-weight:300;
}

.swappingContainer
{
    height:200px;
}

.swapShift
{
    height:40px;
}

/*--------------- END MY ROSTER PAGE --------------------------*/

/*--------------- MY LEAVE REQUESTS PAGE ----------------------*/

.leaveRequestTitle
{
    font-size: 20px;
    font-weight:300;
    padding-bottom: 15px;
}

#saveLeaveRequest
{
    margin-top: 10px;
}

#cancelLeaveRequestEdit
{
    margin-top:10px;
}

.leaveRequestCreationContent
{
    padding: 10px;
    background-color:  #F5F5F5;
    border: 1px solid #DDD;
}

.leaveRequestMessages
{
    padding: 10px;
    background-color:  #F5F5F5;
    border: 1px solid #DDD;
}

/*--------------- END MY LEAVE REQUEST --------------------------*/