/*
Extension CSS file
Author: Prathamesh Datar
Company: RosterIQ
Date: 8th September, 2012
*/


/*
GENERAL CSS ( This is CSS that is used across the app
-------------------------------------------------------- */

.firstRow
{
    margin-top:76px;
}

.hidden
{
    display:none;
}

input[type="text"].hidden
{
    display:none;
}

.verticalPadding
{
    padding:20px 0px 20px 0px;
}

.dateChangeGroupButton
{
    height:21px;
}

.noSubNavAdjustment
{
    margin-top:52px;
}

select
{
    width:auto;
}

.row-fluid .companyLocationInput {
    margin-left:0px;
}

.employeeLocations, .newEmployeeLocations{
    margin-top:10px;
}

.employeeRoles, .newEmployeeRoles{
    margin-top:10px;
}

.employeeLocation{
    margin-right:5px;
    margin-bottom:5px;
}

.employeeRole{
    margin-right:5px;
    margin-bottom:5px;
}

.nav li a.active, .nav li a.active:hover
{
    background-color: #949AA2;
    background-image: -moz-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AFB3BA), to(#6C737E));
    background-image: -webkit-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: -o-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: linear-gradient(to bottom, #AFB3BA, #6C737E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAFB3ba', endColorstr='#FF6C737e', GradientType=0);
    border-color: #606670;
    color:black;
}

.subnav li.active, .subnav li.active:hover
{
    background-color:white;
}

.nav-pills > li > a
{
    margin-bottom:0px;
    padding:10px 12px 10px 12px;
}

.subnav {
    margin-bottom: 60px;
    width: 100%;
    height: 36px;
    background-color:rgb(110,168,221);
    background-color: #949AA2;
    background-image: -moz-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AFB3BA), to(#6C737E));
    background-image: -webkit-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: -o-linear-gradient(top, #AFB3BA, #6C737E);
    background-image: linear-gradient(to bottom, #AFB3BA, #6C737E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAFB3ba', endColorstr='#FF6C737e', GradientType=0);
    border-color: #606670;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar .navbar-inner
{
    border:0px;
}

div.subnav .nav > li > a:hover
{
    color:inherit;
}

.nav > li > a:hover {
    background-color:transparent;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color:transparent;
}

.loginLink
{
    text-decoration:none;
    color:white;
    padding-top:12px;
    font-size:14px;
    line-height:21px;
}

.signUpForm {
    margin: 45px 0 21px;
}

.loginLink:hover
{
    text-decoration:none;
    color:white;
    font-size:14px;
    line-height:21px;
}


.logoutLink
{
    text-decoration:none;
    color:white;
    padding-top:12px;
    font-size:14px;
    line-height:21px;
}
.logoutLink:hover
{
    text-decoration:none;
    color:white;
    font-size:14px;
    line-height:21px;
}

.special-well{
    background-color: rgba(254,245,245,0.8);
}

[class^="icon-"],[class*=" icon-"]{
    background-image:url("/public/images/glyphicons-halflings.png")
}

.icon-white{
    background-image:url("/public/images/glyphicons-halflings-white.png")
}

.typeahead{
    z-index:1051;
}


/*
DASHBOARD FILE
-------------------*/

.welcomeMessage h1
{
    font-size:20px;
    line-height:22px;
}

.welcomeMessage h2
{
    font-size:15px;
    line-height:17px;
}

/*
MYROSTER File
--------------------*/

.rosterSummary
{
    padding:20px 0px 20px 0px;
}

.rosterWeekDate
{
    font-size:30px;
    line-height:32px;
}

.dateControl
{
    padding-bottom:30px;
}

td.employeeDayShiftCellContainer
{
    padding:0px;
}

table.employeeDayShiftCellContainerTable
{
    margin-bottom:0px;
}

td.employeeDayShiftCellOptionsContainer
{
    padding:0px;
}

table.employeeDayShiftCellOptionsContainerTable
{
    margin-bottom:0px;
}

td.employeeDayShiftCellOptions
{
    padding:15px 0px 15px 8px;
}

.btn-grey
{
	background-color: #9295A0;
	background-image: -moz-linear-gradient(top, #9295A0, #777B88);
	background-image: -ms-linear-gradient(top, #9295A0, #777B88);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9295A0), to(#777B88));
	background-image: -webkit-linear-gradient(top, #9295A0, #777B88);
	background-image: -o-linear-gradient(top, #9295A0, #777B88);
	background-image: linear-gradient(top, #9295A0, #777B88);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9295A0', endColorstr='#777B88', GradientType=0);
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}


/*
SCHEDULER File
---------------------*/

.schedulerRow
{
    margin-top:40px;
}

#publishButton
{
    padding:15px 20px 15px 20px;
    margin-right:20px;
}

#dayViewDisplayDate
{
    font-size: 25px;
    font-weight: 300;
}

.locationSelect
{
    margin-bottom:0px;
}

.employeePositionTab
{
    padding-bottom:20px;
}

#weekViewDate
{
    font-size: 25px;
    line-height:27px;
    font-weight: 300;
}


#schedulerWeek
{
    padding:20px 0px 55px 0px;
}

#schedulerDay
{
    padding:20px 0px 55px 0px;
}

#loadWeek
{
    margin-bottom:0px;
}

.table td.positionDayShiftCell
{
    padding:0px;
}

.table td.employeeDayShiftCell
{
    padding:0px;
    position:relative;
}

.table td.positionDayShiftCell
{
    padding:0px;
    position:relative;
}

.personShift
{
    position:relative;
    display:block;
    /*margin-bottom:2px;*/
}

td.personShiftCell
{
    position:relative;
    padding:0px;
    vertical-align:top;
}

td.positionShiftCell
{
    position:relative;
    padding:0px;
    vertical-align:top;
}

.positionShift
{
    display:block;
    /*margin-bottom:2px;*/
}

.draftShift{
    opacity:0.5;
}

.publishedShift
{
    opacity:1.0;
}

td.selected{
    border:1px solid orange;
}

td.hoverCell
{
    border:1px solid #FFD280;
    cursor:pointer;
}

td.unavailable
{
    background-color: #9295A0;
    background-image: -moz-linear-gradient(top, #9295A0, #777B88);
    background-image: -ms-linear-gradient(top, #9295A0, #777B88);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9295A0), to(#777B88));
    background-image: -webkit-linear-gradient(top, #9295A0, #777B88);
    background-image: -o-linear-gradient(top, #9295A0, #777B88);
    background-image: linear-gradient(top, #9295A0, #777B88);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9295A0', endColorstr='#777B88', GradientType=0);
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    text-align:center;
    vertical-align:middle;
    color:white;
}

.unavailabilitySection{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    opacity:0.8;
}

.unavailabilityDescription
{
    padding:8px;
}

#dayViewSummary
{
    margin-bottom:0px;
}

#weekViewSummary
{
    margin-bottom:0px;
}

.weekSummaryContent
{
    background-color:white;
    background-image:none;
}

.daySummaryContent
{
    background-color:white;
    background-image:none;
}

#weekViewSummaryContent
{
    margin-bottom:0px;
}

/*
LEAVE REQUESTS FILE
--------------------------*/

.leaveRequestTitle
{
    font-size: 20px;
    font-weight:300;
    padding-bottom: 15px;
}

.leaveRequestTitle small
{
    font-size:15px;
}

#saveLeaveRequest
{
    margin-top: 10px;
}

#cancelLeaveRequestEdit
{
    margin-top:10px;
}

.leaveRequestCreationContent
{
    padding: 10px;
    background-color:  #F5F5F5;
    border: 1px solid #DDD;
}

.leaveRequestMessages
{
    padding: 10px;
    background-color:  #F5F5F5;
    border: 1px solid #DDD;
}

/*
UNAVAILABILITY FILE
-------------------------*/

#unavailabilityTitle
{
    font-size:20px;
    line-height:22px;
}

td.unavailabilityCell
{
    padding:0px;
}

/* --- Additional stuff for the Load Shifts --- */

/* --- LOAD SHIFTS WEEK --- */
#loadWeekDropDown {
    position:absolute;
    display:none;
    z-index:29;
}

/* If the Load Shifts week has been clicked */
#loadShiftsWeekButton.active {
    border-radius:3px 3px 0 0;
}

#loadShiftsWeekButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loadShiftsWeekButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Load Shifts week Form */
#loadWeekForm {
    width:248px;
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#f0f0f0;
    padding:6px;
}

/* --- LOAD SHIFTS DAY --- */
#loadDayDropDown {
    position:absolute;
    display:none;
    z-index:29;
}

/* If the Load Shifts day has been clicked */
#loadShiftsDayButton.active {
    border-radius:3px 3px 0 0;
}

#loadShiftsDayButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loadShiftsDayButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Load Shifts day Form */
#loadDayForm {
    width:248px;
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#f0f0f0;
    padding:6px;
}


.help-inline-dupEmail{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    padding-left:5px;
}






