html, body {
    background: #FFFFFF;
    font-family: sans-serif;
}

#returnHome {
    font-size: 13px;
}

#login {
    width: 450px;
    margin: 50px auto;
    text-align: center;
}

#login h1 {
    font-weight: bold;
    color: #111;
}

#login form {
    border: 3px solid #ccc;
    background: #fff;
    padding: 2px;
    text-align: left;
}

#login form p {
    margin: 5px;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
}

#username-field input {
    width: 200px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#remember-field input {
    margin-left: 155px;
}

#remember-field {
    font-size: 12px;
    color: #666;
}

#signin-field input {
    margin-left: 155px;
    margin-top: 10px;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#login .error {
    background: #c00 !important;
}

#login .success {
    background: #008800 !important;
}
