#{extends 'site.html' /}
<script type="text/javascript" src="public/javascripts/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="public/javascripts/rosteriqCustom/signUp.js"></script>
<form id="postForm" method="post" action="/onboardUser">
    <input type="text" class="hide" id="signUpJson" name="signUpJson">
</form>
<form class="form-horizontal signUpForm">
    <fieldset>
        <input type="text" class="hidden" id="companyLocationCount" name="companyLocationCount" value="1">
        <input type="text" class="hidden" id="companyRoleCount" name="companyRoleCount" value="1">
        <input type="text" class="hidden" id="companyEmployeeCount" name="companyEmployeeCount" value="0">
        <div id="signUpCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="container-fluid main">
                        <div class="container">
                            <div class="row">
                                <div style="margin-top:20px;text-align:left" class="span12 well">
                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <h2>Company manager ( Step 1 of 3 )<br/><small style="line-height:40px;">This will be the primary account used to schedule employees, edit details etc.</small></h2>
                                            <hr class="soften"/>
                                            <div class="span12">
                                                <div id="firstNameControl" class="control-group">
                                                    <label class="control-label" for="firstName">First name<span style="color:red">*</span></label>
                                                    <div style="text-align:left" class="controls">
                                                        <input type="text" class="span6" placeholder="First name" id="firstName" name="firstName">
                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                    </div>
                                                </div>
                                                <div id="lastNameControl" class="control-group">
                                                    <label class="control-label" for="lastName">Last name<span style="color:red">*</span></label>
                                                    <div style="text-align:left" class="controls">
                                                        <input type="text" class="span6" placeholder="Last name" id="lastName" name="lastName">
                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                    </div>
                                                </div>
                                                <div id="emailControl" class="control-group">
                                                    <label class="control-label" for="email">Enter your email<span style="color:red">*</span></label>
                                                    <div style="text-align:left" class="controls">
                                                        <input type="text" class="span6" placeholder="Your email address" id="email" name="email">
                                                        <span class="help-inline hide">Not a valid email address</span>
                                                        <span class="help-inline-dupEmail hide">This email address already exists</span>
                                                    </div>
                                                </div>
                                                <div id="password1Control" class="control-group">
                                                    <label class="control-label" for="password1">Your password<span style="color:red">*</span></label>
                                                    <div style="text-align:left" class="controls">
                                                        <input type="password" class="span6" placeholder="Your password" id="password1" name="password1">
                                                        <span class="help-inline hide">Must be at least 6 characters and matching</span>
                                                    </div>
                                                </div>
                                                <div id="password2Control" class="control-group">
                                                    <label class="control-label" for="password2">Re-enter password<span style="color:red">*</span></label>
                                                    <div style="text-align:left" class="controls">
                                                        <input type="password" class="span6" placeholder="Re-enter password" id="password2" name="password2">
                                                    </div>
                                                </div>
                                                <hr class="soften"/>
                                                <button type="button" style="margin-left:20px" class="btn btn-primary pull-left btnNext">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid main">
                        <div class="container">
                            <div class="row">
                                <div style="margin-top:20px;text-align:left;" class="span12 well">
                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <h2>Tell us about your company ( Step 2 of 3 )<br/><small style="line-height:40px;">At least one location and one role is required</small></h2>
                                                <hr class="soften"/>
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <th style="width:20%;line-height:30px;">Company name</th>
                                                    <th style="width:80%;"><div style="margin-bottom:0px;" id="companyNameControl" class="control-group"><input type="text" class="span12" placeholder="Company name" id="companyName" name="companyName"></div></th>
                                                    </thead>
                                                </table>
                                                <h3>Locations</h3>
                                                <table class="table table-bordered">
                                                    <div class="hide" id="lastLocationInput"></div>
                                                    <thead>
                                                    <th>Company locations <span style="font-weight:normal" class="help-block">Eg. Epping; Strathfield</span></th>
                                                    </thead>
                                                    <tbody id="companyLocations">
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="span12" placeholder="Enter a location" id="companyLocationInput" name="companyLocationInput" value="">
                                                            <div style="margin-top:10px;" class="btn-group" id="locations"></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <h3>Roles</h3>
                                                <table class="table table-bordered">
                                                    <div class="hide" id="lastRoleInput"></div>
                                                    <thead>
                                                    <th>Role names <span style="font-weight:normal" class="help-block inline">Eg. Manager; Accountant</span></th>
                                                    </thead>
                                                    <tbody id="companyRoles">
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="span12" placeholder="Enter a role" id="companyRoleInput" name="companyRoleInput" value="">
                                                            <div style="margin-top:10px;" class="btn-group" id="roles"></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <hr class="soften"/>
                                                <button type="button" class="btn btn-inverse pull-left btnPrev">Prev</button>
                                                <button type="button" style="margin-left:20px" class="btn btn-primary pull-left btnNext">Next</button>
                                                <!--<button type="submit" value="submit" style="margin-left:30px;" class="btn btn-success">Sign up</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div><!--row-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid main">
                        <div class="container">
                            <div class="row">
                                <div style="margin-top:20px;text-align:left;" class="span12 well">
                                    <div class="container-fluid">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <h2>Now add your employees ( Step 3 of 3 )<br/></h2>
                                                <hr class="soften"/>
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tbody id="companyEmployees">
                                                        <tr class="companyEmployee">
                                                            <td>
                                                                <div class="container-fluid">
                                                                    <div class="row-fluid">
                                                                        <div class="span4">
                                                                            <div class="control-group employeeNameControl">
                                                                                <label>Employee name: </label>
                                                                                <input type="text" placeholder="Employee name" class="employeeName">
                                                                            </div>
                                                                            <div class="control-group employeeEmailControl" id="employeeEmail1Control">
                                                                                <label class="inline">Email: </label>
                                                                                <input type="text" placeholder="Employee email" class="employeeEmail">
                                                                            </div>
                                                                        </div>
                                                                        <div class="span4">
                                                                            <label>Locations</label>
                                                                            <div class="lastLocationInput hide"></div>
                                                                            <input type="text" placeholder="Enter a location" class="employeeLocationInput">
                                                                            <div class="employeeLocations"></div>
                                                                        </div>
                                                                        <div class="span4">
                                                                            <label>Roles</label>
                                                                            <div class="lastRoleInput hide"></div>
                                                                            <input type="text" placeholder="Enter a role" class="employeeRoleInput">
                                                                            <div class="employeeRoles"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button type="button" style="margin-left:20px;" class="btn btn-danger deleteEmployee"><i class="icon-minus icon-white"></i></button><span style="margin-left:10px;line-height:25px;">Delete employee</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-success pull-left addEmployee"><i style="margin-right:0px;" class="icon-plus icon-white"></i></button><span style="margin-left:10px;line-height:25px;">Add employee</span>
                                                <hr class="soften"/>
                                                <div class="btn btn-inverse btnPrev">Prev</div>
                                                <hr class="soften"/>
                                                <p>Make sure you have correctly filled out your details</p>
                                                <p>You will be allowed to change details afterwards as well</p>
                                                <button type="button" class="btn btn-success" id="submit">Sign up</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>