#{extends 'site.html' /}
<div class="container-fluid signUpForm">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>Congratulations, ${newCompany.companyName} has been successfully onboarded</h3>
                <a href="app/login" class="btn btn-success">Login</a>
            </div>
        </div>
    </div>
</div>