#{extends 'main.html' /}
<div class="subnav subnav-fixed subNavigationMenu">
    <ul class="nav nav-pills">
        <li class="">
            <a id="adminClick" href="#admin" data-toggle="pill">General Admin</a>
        </li>
        #{deadbolt.restrict roles:[['COMPANY_MANAGER'],['LOCATION_MANAGER']]}
        <li class="">
            <a id="settingsClick" href="#settings" data-toggle="pill">Settings</a>
        </li>
        #{/deadbolt.restrict}
        <li class="">
            <a id="profileClick" href="#profile" data-toggle="pill">MyProfile</a>
        </li>
    </ul>
</div>
<div class="modal hide" id="locationEdit">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times</a>
        <h3>Edit location</h3>
    </div>
    <div class="modal-body">
        <div id="locationEditDiv">
            <input id="locId" type="hidden">
            <label>Name</label><input id="locEditName" type="text">
            <label>Address</label><input id="locEditAddress" type="text">
            <label>Suburb</label><input id="locEditSuburb" type="text">
            <label>State</label><input id="locEditState" type="text">
            <label>Postcode</label><input id="locEditPostcode" type="text">
            <label>Country</label><input id="locEditCountry" type="text">
            <label>Phone number</label><input id="locEditPhoneNumber" type="text">
            <br><input id="editLocationSubmit" type="submit" value="Save"> <input id="editLocationDelete" type="submit" value="Delete">
        </div>
    </div>
</div>
<div class="modal hide" id="employeeEdit">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times</a>
        <h3>Edit Employee</h3>
    </div>
    <div class="modal-body">
        <div id="employeeEditDiv">
            <div id="empInfoFields">
                <input id="empId" type="hidden">
                <label>First Name</label><input id="empFirstName" type="text">
                <label>Last Name</label><input id="empLastName" type="text">
                <label>Email Address</label><input id="empEmailAddress" type="text">
                <label>Address</label><input id="empAddress" type="text">
                <label>Suburb</label><input id="empSuburb" type="text">
                <label>State</label><input id="empState" type="text">
                <label>Postcode</label><input id="empPostcode" type="text">
                <label>Country</label><input id="empCountry" type="text">
                <label>Date of birth</label>
                <select id="empDobDay">
                    %{
                    for (int i=1; i <= 31; i++) {
                    %}
                    <option class="empDobDD" value="${i}">${i}</option>
                    %{
                    }
                    %}
                </select>
                <select id="empDobMonth">
                    %{
                    for (int i=1; i < 12; i++) {
                    %}
                    <option class="empDobMM" value="${i}">${i}</option>
                    %{
                    }
                    %}
                </select>
                <select id="empDobYear">
                    %{
                    for (int i=1900; i < 2010; i++) {
                    %}
                    <option class="empDobYYYY" value="${i}">${i}</option>
                    %{
                    }
                    %}
                </select>
                <label>Phone number</label><input id="empPhoneNumber" type="text">
            </div>
            <div id="empPasswordDiv">
                <label>Password</label><input id="empPassword" type="password">
            </div>
            <div id="empAdminFields">
                <label>Account Type</label>
                <select id="empAccountType">
                    <option class="empAccountTypeOption" value="ADMIN">Administrator</option>
                    <option class="empAccountTypeOption" value="COMPANY_MANAGER">Company manager</option>
                    <option class="empAccountTypeOption" value="LOCATION_MANAGER">Location manager</option>
                    <option class="empAccountTypeOption" value="EMPLOYEE">Regular Employee</option>
                </select>
            </div>
            <div id="empCompanyFields">
                <label>Locations</label>
                <select id="empLocations" multiple="multiple">
                    %{
                    for (location in locations) {
                    %}
                    <option class="empLocationOption" value="${location.id}">$(location.locationName}</option>
                    %{
                    }
                    %}
                </select>
                <label>Positions</label><select id="empPositions" multiple="multiple"></select>
                %{
                for (positions in positions) {
                %}
                <option class="empPositionOption" value="${position.id}">${position.title}</option>
                %{
                }
                %}
                <label>Wage</label><input id="empWage" type="numeric">
                <label>Max Hours Per Week</label><input id="empMaxHours" type="numeric">
                <label>Min Break Time</label><input id="empBreakTime" type="numeric">
            </div>
            <br><input id="editEmployeeSubmit" type="submit" value="Save">
            <div id="empDeleteDiv">
                <input id="editEmployeeDelete" type="submit" value="Delete">
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="admin" class="tab-pane in active">
        <div class="adminContainer firstRow pull-left">
            <h1 id="adminHeader">Administration area</h1>
            <div class="companyDropDown pull-left">
                <select id="companySelect">
                    <option class="noCompanyOption" value="-1">--Select a company--</option>
                    %{
                    for (company in companies) {
                    %}
                    <option class="companyOption" value=${company.id}>${company.companyName}</option>
                    %{
                    }
                    %}
                </select>
            </div>
            <br>
            <div class="locationAndPositionAdmin pull-left">
                <h3 id="testDummy">Locations</h3>
                <div id="locationsList">
                </div>
                <br>
                <div id="addLocationOnAdmin"><a href="#">Add new Location</a></div>
                <h3>Positions</h3>
                <table id="positionAdminTable">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="positionAdminTableBody">
                    <tr id="-1">
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td class="addPositionOnAdmin"><a href="#">+</a></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <input id="updatePositions" type="submit" value="Update Positions"/>
                <h3>Employees</h3>
                <div id="employeesList">
                </div>
                <br>
                <div id="addEmployeeOnAdmin"><a href="#">Add new Employee</a></div>
            </div>
        </div>
    </div>
    <div id="settings" class="tab-pane">
        <div class="settingsFields">
            <br><br><br><br>
            <b>${user?.firstName} ${user?.lastName}</b>, ${company?.companyName}<br><br>
            <h2>Configure your settings</h2>
            <form name="input" action="@{Application.updateSettings()}">
                <input type="numeric" class="hidden" name="settingsId" value=${settings?.id}> <br>
                Notify manager of shift swaps
                %{
                if (settings?.notifyManagerOfShiftSwaps) {
                %}
                <input type="checkbox" name="notifyManagerOfShiftSwaps" checked/><br>
                %{
                } else {
                %}
                <input type="checkbox" name="notifyManagerOfShiftSwaps"><br>
                %{
                }
                %}
                Notify Employees of Open Shifts
                %{
                if (settings?.notifyEmployeesOfOpenShifts) {
                %}
                <input type="checkbox" name="notifyEmployeesOfOpenShifts" checked/><br>
                %{
                } else {
                %}
                <input type="checkbox" name="notifyEmployeesOfOpenShifts"/><br>
                %{
                }
                %}
                Show cost of shifts in scheduler
                %{
                if (settings?.showCostOfShiftInScheduler) {
                %}
                <input type="checkbox" name="showCostOfShiftInScheduler" checked><br>
                %{
                } else {
                %}
                <input type="checkbox" name="showCostOfShiftInScheduler"><br>
                %{
                }
                %}
                Allow employees to swap shifts
                %{
                if (settings?.allowEmployeeToSwapShifts) {
                %}
                <input type="checkbox" name="allowEmployeeToSwapShifts" checked/><br>
                %{
                } else {
                %}
                <input type="checkbox" name="allowEmployeeToSwapShifts"/><br>
                %{
                }
                %}
                Require approval for drop shifts
                %{
                if (settings?.approvalRequiredForDropShifts) {
                %}
                <input type="checkbox" name="approvalRequiredForDropShifts" checked/><br>
                %{
                } else {
                %}
                <input type="checkbox" name="approvalRequiredForDropShifts"/><br>
                %{
                }
                %}
                Employee can swap shift on day of shift
                %{
                if (settings?.employeesCanSwapShiftsOnSameDay) {
                %}
                <input type="checkbox" name="employeesCanSwapShiftsOnSameDay" checked/><br>
                %{
                } else {
                %}
                <input type="checkbox" name="employeesCanSwapShiftsOnSameDay" /><br>
                %{
                }
                %}
                <input type="submit" name="Update"/><br>
            </form>
        </div>
    </div>
    <div id="profile" class="tab-pane">
    </div>
</div>
<script src="public/javascripts/rosteriqCustom/admin.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-transition.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-modal.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-tab.js"></script>
<script src="public/javascripts/jquery-ui/dragSlider.js"></script>