#{extends 'main.html' /}
<script type="text/javascript" src="public/javascripts/rosteriqCustom/administration.js"></script>
<div class="container-fluid firstRow">
    <div class="row-fluid">
        <div class="span12">
            <h3>Administration <small>${company.companyName}</small></h3>
            <div class="hidden hide" id="companyId">${company.id}</div>
            <hr class="soften"/>
            <div class="container-fluid">
                <div class="span3">
                    <h4>Menu</h4>
                    <hr class="soften"/>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="#locations" data-toggle="tab">Locations ( ${companyLocations.size()} )</a></li>
                        <li><a href="#roles" data-toggle="tab">Roles ( ${companyRoles.size()} )</a></li>
                        <li><a href="#employees" data-toggle="tab">Employees ( ${companyEmployees.size()} )</a></li>
                    </ul>
                </div>
                <div class="span9">
                    <div class="tab-content">
                        <div class="tab-pane" id="locations">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <h4>Locations</h4>
                                        <hr class="soften"/>
                                        <ul class="nav nav-tabs nav-stacked allLocations">
                                            %{ for( companyLocation in companyLocations ) { %}
                                            <li><a data-toggle="tab" href="#location${companyLocation.id}">${companyLocation.locationName}</a></li>
                                            %{ } %}
                                        </ul>
                                        <a href="#newLocation" data-toggle="tab" class="btn btn-primary pull-left addLocation"><i style="margin-right:0px;" class="icon-plus icon-white"></i></a><span style="margin-left:10px;line-height:25px;">Add location</span>
                                    </div>
                                    <div class="span9">
                                        <div class="tab-content">
                                            %{ for ( companyLocation in companyLocations ) { %}
                                            <div class="tab-pane"  id="location${companyLocation.id}">
                                                <h4>${companyLocation.locationName}</h4>
                                                <hr class="soften"/>
                                                <form class="hidden hide postForm" id="locationForm${companyLocation.id}" method="post" action="/createOrUpdateLocation">
                                                <input type="text" class="hidden hide locationJson" name="locationJson"/>
                                                </form>
                                                <form class="form-horizontal locationForm">
                                                    <fieldset>
                                                        <div class="container-fluid">
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <div class="control-group locationNameControl">
                                                                        <label>Name</label>
                                                                        <input type="text" class="span6 locationName" placeholder="Location name" name="locationName" value="${companyLocation.locationName}">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <div class="control-group locationAddressControl">
                                                                        <label>Address</label>
                                                                        <input type="text" class="span12 locationAddress" placeholder="Location address" name="locationAddress" value="${companyLocation.address}">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr style="margin-top:0px;" class="soften"/>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <button type="button" class="submitLocationForm btn btn-success">Save</button>
                                                                    <button style="margin-left:10px;" type="button" id="locationDelete{companyLocation.id}" class="deleteLocation btn btn-danger">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            %{ } %}
                                            <div class="tab-pane" id="newLocation">
                                                <h4>New location</h4>
                                                <hr class="soften"/>
                                                <form class="hidden hide" id="newLocationForm" method="post" action="/createOrUpdateLocation">
                                                    <input type="text" class="hidden hide" id="newLocationJson" name="locationJson"/>
                                                </form>
                                                <form class="form-horizontal LocationForm">
                                                    <fieldset>
                                                        <div class="container-fluid">
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <div class="control-group locationNameControl">
                                                                        <label>Name</label>
                                                                        <input type="text" class="span6 newLocationName" placeholder="Location name" name="locationName">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <div class="control-group locationAddressControl">
                                                                        <label>Name</label>
                                                                        <input type="text" class="span12 newLocationAddress" placeholder="Location address" name="locationAddress">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <button type="button" class="submitNewLocationForm btn btn-success">Create</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="roles">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <h4>Roles</h4>
                                        <hr class="soften"/>
                                        <form class="hidden hide postForm" method="post" action="/createOrUpdateRoles">
                                            <input type="text" class="hidden hide rolesJson" name="roles_json"/>
                                        </form>
                                        <table class="table table-bordered">
                                            <thead>
                                            <th>Role</th>
                                            <th>Description</th>
                                            <th>Delete</th>
                                            </thead>
                                            <tbody id="company_roles">
                                            %{ for ( companyRole in companyRoles ) { %}
                                            <tr id="${companyRole.id}">
                                                <td><input type="text" class="span12 tableInput role_name" value="${companyRole.title}"></td>
                                                <td><input type="text" class="span12 tableInput role_description" value="${companyRole.description}"></td>
                                                <td><button type="button" style="margin-left:5px;" class="btn btn-danger deleteRole"><i class="icon-minus icon-white"></i></button></td>
                                            </tr>
                                            %{ } %}
                                            </tbody>
                                        </table>
                                        <span class="pull-right" style="margin-left:10px;line-height:25px;">Add another role</span><button type="button" class="btn btn-primary pull-right addRole"><i style="margin-right:0px;" class="icon-plus icon-white"></i></button>
                                        <button type="button" class="btn btn-success pull-left saveRoles">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="employees">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <h4>Employees</h4>
                                        <hr class="soften"/>
                                        <ul class="nav nav-tabs nav-stacked allEmployees">
                                            %{ for( companyEmployee in companyEmployees ) { %}
                                            <li><a href="#employee${companyEmployee.id}" data-toggle="tab">${companyEmployee.firstName + " " + companyEmployee.lastName}</a></li>
                                            %{ } %}
                                        </ul>
                                        <a href="#newEmployee" data-toggle="tab" class="btn btn-primary pull-left addEmployee"><i style="margin-right:0px;" class="icon-plus icon-white"></i></a><span style="margin-left:10px;line-height:25px;">Add employee</span>
                                    </div>
                                    <div class="span9">
                                        <div class="tab-content">
                                            %{ for ( companyEmployee in companyEmployees ) { %}
                                            <div class="tab-pane" id="employee${companyEmployee.id}">
                                                <h4>${companyEmployee.firstName + " " + companyEmployee.lastName }</h4>
                                                <hr class="soften"/>
                                                <form class="hidden hide postForm" method="post" action="/createOrUpdateEmployee">
                                                <input type="text" class="hidden hide employeeJson" name="employeeJson"/>
                                                </form>
                                                <form class="form-horizontal employeeForm">
                                                    <fieldset>
                                                        <div class="container-fluid">
                                                            <div class="row-fluid">
                                                                <div class="span4">
                                                                    <div class="control-group employeeFirstNameControl">
                                                                        <label>First name</label>
                                                                        <input type="text" class="span12 employeeFirstName" placeholder="First name" name="employeeFirstName" value="${companyEmployee.firstName}">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                                <div class="span4">
                                                                    <div class="control-group employeeLastNameControl">
                                                                        <label>Last name</label>
                                                                        <input type="text" class="span12 employeeLastName" placeholder="Last name" name="employeeLastName" value="${companyEmployee.lastName}">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                                <div class="span4">
                                                                    <div class="control-group employeeEmailControl">
                                                                        <label>Email</label>
                                                                        <input type="text" class="span12 employeeEmail" placeholder="Email" name="employeeEmail" value="${companyEmployee.emailAddress}">
                                                                        <span class="help-inline hide">Not a valid email address</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <label>Locations</label>
                                                                    <div class="lastLocationInput hide hidden"></div>
                                                                    <input type="text" placeholder="Enter a location" class="employeeLocationInput span12">
                                                                    <div style="margin-bottom:20px;" class='employeeLocations btn-group'>
                                                                        %{ for( employeeLocation in companyEmployee.locations ) { %}
                                                                        <div class="btn btn-primary">${employeeLocation.locationName}</div>
                                                                        %{ } %}
                                                                    </div>
                                                                    <label>Roles</label>
                                                                    <div class="lastRoleInputHide hide hidden"></div>
                                                                    <input type="text" placeholder="Enter a role" class="employeeRoleInput span12">
                                                                    <div style="margin-bottom:20px;" class='employeeRoles btn-group'>
                                                                        %{ for( employeeRole in companyEmployee.positions ) { %}
                                                                        <div class="btn btn-primary">${employeeRole.title}</div>
                                                                        %{ } %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <button type="button" class="submitEmployeeForm btn btn-success">Save</button>
                                                                    <button style='margin-left:10px;' type="button" class="deleteEmployee btn btn-danger">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            %{ } %}
                                            <div class="tab-pane" id="newEmployee">
                                                <h4>New employee</h4>
                                                <hr class="soften"/>
                                                <form class="hidden hide" id="newEmployeeForm" method="post" action="/createOrUpdateEmployee">
                                                    <input type="text" class="hidden hide" id="newEmployeeJson" name="employeeJson"/>
                                                </form>
                                                <form class="form-horizontal employeeForm">
                                                    <fieldset>
                                                        <div class="container-fluid">
                                                            <div class="row-fluid">
                                                                <div class="span4">
                                                                    <div class="control-group employeeFirstNameControl">
                                                                        <label>First name</label>
                                                                        <input type="text" class="span12 newEmployeeFirstName" placeholder="First name" name="employeeFirstName" value="">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                                <div class="span4">
                                                                    <div class="control-group employeeLastNameControl">
                                                                        <label>Last name</label>
                                                                        <input type="text" class="span12 newEmployeeLastName" placeholder="Last name" name="employeeLastName" value="">
                                                                        <span class="help-inline hide">Should be at least 2 characters</span>
                                                                    </div>
                                                                </div>
                                                                <div class="span4">
                                                                    <div class="control-group employeeEmailControl">
                                                                        <label>Email</label>
                                                                        <input type="text" class="span12 newEmployeeEmail" placeholder="Email" name="employeeEmail" value="">
                                                                        <span class="help-inline hide">Not a valid email address</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row-fluid">
                                                                <div class="span12">
                                                                    <label>Locations</label>
                                                                    <div class="lastLocationInput hide hidden"></div>
                                                                    <input type="text" placeholder="Enter a location" class="employeeLocationInput span12">
                                                                    <div style="margin-bottom:20px;" class='newEmployeeLocations btn-group'>
                                                                    </div>
                                                                    <label>Roles</label>
                                                                    <div class="lastRoleInputHide hide hidden"></div>
                                                                    <input type="text" placeholder="Enter a role" class="employeeRoleInput span12">
                                                                    <div class='newEmployeeRoles btn-group'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="margin-top:20px;" class="row-fluid">
                                                                <div class="span12">
                                                                    <button type="button" class="submitNewEmployeeForm btn btn-success">Create</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>