#{extends 'main.html' /}
<div class="container-fluid firstRow noSubNavAdjustment">
    <div class="row-fluid firstRowContent">
        <div class="span12">
            <div class="hidden" id="#schedulerLocationId"></div>
            <div class="welcomeMessage">
                <h1>Hello and welcome ${loggedInUser.firstName}</h1>
                <h2>Your account type is: ${loggedInUser.accountType}</h2>
            </div>
        </div>
    </div>
</div>

