#{extends 'main.html' /}
<div class="container-fluid firstRow noSubNavAdjustment">
    <div class="row-fluid firstRowContent">
        <div class="span12">
            <div class="hidden" id="#schedulerLocationId"></div>
            <div class="leaveRequestListContent">
                <h1 class="leaveRequestTitle">Your leave requests</h1>
                <table style="margin-top:20px;" id="leaveRequestsTable" class="table table-bordered">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid leaveRequestCreationRow">
    <div class="row-fluid leaveRequestCreationRowContent">
        <div class="span5 leaveRequestCreationContent">
            <h1 id="editTitle" class="leaveRequestTitle">New Leave Request</h1>
            <input class="hidden" type="text" id="leaveRequestId">
            <div class="row-fluid">
                <div class="span6">
                    <label>Start Date </label>
                    <input type="text" id="startDatePicker" placeholder="Start Date. Type or select">
                </div>
                <div class="span6">
                    <label>Finish Date </label>
                    <input type="text" id="endDatePicker" placeholder="End Date. Type or select">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label>Comment</label>
                    <textarea type="text" id="comment" placeholder="e.g Uni semester"></textarea>
                    <br/>
                    <div id="saveLeaveRequest" class="btn btn-success pull-left">Save</div><div style="margin-left:5px" id="cancelLeaveRequestEdit" class="btn btn-danger pull-left hidden">Cancel</div>
                </div>
            </div>
        </div>
        <div class="span6 leaveRequestMessages">
            <h1 class="leaveRequestTitle">Messages</h1>
        </div>
    </div>
</div>

<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>
<script src="public/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="public/javascripts/rosteriqCustom/leaveRequests.js"></script>
<!--<script src="public/javascripts/bootstrap/bootstrap-transition.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-modal.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-tab.js"></script> -->