<!--
Date started: 30/08/2012
Author: Prathamesh Datar
Intention: To test an interface for the position view for creating a shift
Company: RosterIQ
Version: 1.0
-->

#{extends 'main.html' /}
<div class="modal hide" id="loadWait" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="modal-body">
        <h3 style="text-align:center;">Please wait</h3>
    </div>
</div>
<div class="modal hide" id="shiftSwapAndDrop">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times</a>
        <h3 id="shiftSwapAndDropHeading">Swap or Drop shift</h3>
    </div>
    <div class="modal-body">
        <!-- So now this will be a dynamic form which will show availabile swap shifts -->
        <!-- We will first start with a static view to see how it will look like -->
        <div class="hidden" id="declineShiftChoice">drop</div>
        <input type="text" class="hidden" id="swapShiftId">
        <input id="dropShiftChoice" type="radio" name="declineShiftChoice" checked="checked" value="dropShift">Drop Shift</input><input id="swapShiftChoice" style="margin-left:10px;" type="radio" name="declineShiftChoice" value="swapShift">Swap Shift</input>
        <div class="swapShiftDiv hidden">
            <div class="swapHeading">Choose from the following shifts to swap with</div>
            <select multiple="multiple" class="swapSelect">
            </select>
            <p>Press Ctrl(Windows) or the Command(Mac) to choose multiple shifts</p>
        </div>
        <br/>
        <textarea class="requestComment" style="margin-top:20px;"></textarea>
        <div class="actionButtons">
            <div id="declineShiftButton" class="btn btn-primary">OK</div>
            <!--<div id="dropShift" class="btn btn-danger">Drop</div>-->
            <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
    </div>
</div>
<div class="subnav subnav-fixed subNavigationMenu">
    <ul style="padding-left:40px;" class="nav nav-pills">
        <li class="active">
            <a id="scheduleClick" href="#schedule" data-toggle="pill">Schedule</a>
        </li>
        <li class="">
            <a id="requestsClick" href="#myRequests" data-toggle="pill">My requests</a>
        </li>
        <li class="">
            <a id="myLeaveRequestsClick" href="#myLeaveRequests" data-toggle="pill">My leave requests</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="schedule" class="tab-pane in active">
        <div class="container-fluid firstRow">
            <div class="row-fluid firstRowContent">
                <div class="span12">
                    <div class="rosterSummary">
                        <div id="myRosterTitle">Hello ${user?.firstName} ${user?.lastName},</div>
                        <div id="myRosterDescription"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rosterRow">
            <div class="row-fluid rosterRowContent">
                <div class="span12">
                    <div class="pull-left rosterWeekDate" id="weekViewDate"></div>
                    <div class="btn-group pull-right" id="dayMoveWeeks">
                        <div class="btn dateChangeGroupButton dateArrow" id="weekPrev"><i class="icon-chevron-left"></i></div>
                        <div class="btn dateChangeGroupButton" id="weekCurr">Today</div>
                        <div class="btn dateChangeGroupButton dateArrow" id="weekNext"><i class="icon-chevron-right"></i></div>
                    </div>
                    <div class="verticalPadding"></div>
                    <div id="weekEmployeeView">
                        <table style="margin-top:20px;margin-bottom:0px;" class="table table-bordered" id="dayEmployeeViewHeader">
                        </table>
                        <table id="employeeDayTable" class="table table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myRequests" class="tab-pane">
        <div class="container-fluid firstRow">
            <div class="row-fluid firstRowContent swapShiftContent">
                <div class="span12">
                    <h2 id="swapRequestsTitle">Swap shift requests</h2>
                    <table id="mySwapRequestsTable" class="table table-bordered">
                        <thead>
                        <th>From Shift</th>
                        <th>To Shift</th>
                        <th>With person</th>
                        <th>Description</th>
                        <th>Status</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row-fluid dropShiftsContent">
                <div class="span12">
                    <h2 id="dropRequestTitle">Drop shift requests</h2>
                    <table id="myDropRequestsTable" class="table table-bordered">
                        <thead>
                        <th>Shift</th>
                        <th>Description</th>
                        <th>Status</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myLeaveRequests" class="tab-pane">
        <div class="container-fluid firstRow">
            <div class="row-fluid firstRowContent">
                <div class="span12">
                    <div class="hidden" id="#schedulerLocationId"></div>
                    <div class="leaveRequestListContent">
                        <h1 class="leaveRequestTitle">Your leave requests</h1>
                        <table style="margin-top:20px;" id="leaveRequestsTable" class="table table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid leaveRequestCreationRow">
            <div class="row-fluid leaveRequestCreationRowContent">
                <div class="span5 leaveRequestCreationContent">
                    <h1 id="editTitle" class="leaveRequestTitle">New Leave Request</h1>
                    <input class="hidden" type="text" id="leaveRequestId">
                    <div class="row-fluid">
                        <div class="span6">
                            <label>Start Date </label>
                            <input type="text" id="startDatePicker" placeholder="Start Date. Type or select">
                        </div>
                        <div class="span6">
                            <label>Finish Date </label>
                            <input type="text" id="endDatePicker" placeholder="End Date. Type or select">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label>Comment</label>
                            <textarea type="text" id="comment" placeholder="e.g Uni semester"></textarea>
                            <br/>
                            <div id="saveLeaveRequest" class="btn btn-success pull-left">Save</div><div style="margin-left:5px" id="cancelLeaveRequestEdit" class="btn btn-danger pull-left hidden">Cancel</div>
                        </div>
                    </div>
                </div>
                <div class="span6 leaveRequestMessages">
                    <h1 class="leaveRequestTitle">Messages</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="public/javascripts/rosteriqCustom/myRoster.js"></script>
<script src="public/javascripts/rosteriqCustom/leaveRequests.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>
<script src="public/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="public/javascripts/jquery-ui/dragSlider.js"></script>

