<!--
Date started: 25/03/2012
Author: Prathamesh Datar
Intention: To test an interface for the position view for creating a shift
Company: RosterIQ
Version: 1.0
-->

#{extends 'main.html' /}
<div id="loadWeekShiftsContent" class="hide hidden">
    <select classs="pull-left" class="loadWeekShiftSelect">
        <option value="1">Last week</option>
        <option value="2">2 weeks ago</option>
        <option value="3">3 weeks ago</option>
    </select>
    <button style="margin-top:-10px;margin-left:5px" class="btn btn-primary" type="button" id="loadWeekShifts">Load</button>
</div>
<div id="loadDayShiftsContent" class="hide hidden">
    <input type="text" class="span8 loadDayShiftInput" placeholder="Enter a date"/>
    <button style="margin-top:-10px;margin-left:5px" class="btn btn-primary" type="button" id="loadDayShifts">Load</button>
</div>
<div class="modal hide" id="loadWait">
    <div class="modal-body">
        <h3 style="text-align:center;">Please wait</h3>
    </div>
</div>
<div class="modal hide" id="shiftEdit">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times</a>
        <h4 id="shiftFormHeading"></h4>
    </div>
    <div class="modal-body">
        <form id="shiftForm" name="shiftForm">
            <fieldset>
                <!--Hidden form elements - These are filled in by the jquery action -->
                <input style="display:none" id="shiftId" type="text">
                <input style="display:none" id="employeeId" type="text">
                <input style="display:none" id="positionId" type="text">
                <input style="display:none" id="cellDate" type="text">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="shiftTimeControl" class="control-group">
                                <label class="control-label">Shift time</label>
                                <div style="text-align:left" class="controls">
                                    <input type="text" class="span12" name="shiftTime" id="shiftTime" placeholder="eg. 9a-5p">
                                    <span class="help-inline hide shiftTimeValidation">Incorrect shift time</span>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <label id="shiftOptionsLabel" class="control-label"></label>
                            <select class="span12" id="shiftOptions" name="shiftOptions"></select>
                        </div>
                        <div class="shiftErrorMsg" id="shiftTimeError"></div>
                    </div>
                    <div class="row-fluid hidden" id="moreOptions">
                        <div class="span3">
                            <label class="control-label">Break time</label>
                            <input type="text" class="span12" name="shiftBreak" id="shiftBreak" placehoder="1">
                        </div>
                        <div class="span3">
                            <label class="control-label">Recurring</label>
                            <select class="span12" name="recurringShiftOption" id="recurringShiftOption">
                                <option value="-1">None</option>
                                <option value="0">Daily</option>
                                <option value="1">Weekly</option>
                                <option value="2">Fortnightly</option>
                                <option value="3">Monthly</option>
                                <option value="4">Yearly</option>
                            </select>
                        </div>
                        <div class="span6">
                            <label class="control-label">End date</label>
                            <input type="text" class="span12" name="recurrenceEndDate" id="recurrenceEndDate" placeholder="Start Date. Type or select">
                        </div>
                    </div>
                    <div style="margin-top:10px;" class="row-fluid">
                        <div class="span12">
                            <button type="button" class="btn btn-success" id="formButton">Create</button>
                            <button type="button" class="btn btn-danger deleteButton" id="deleteButton">Delete</button>
                        </div>
                    </div>
                    <div style="margin-top:20px;" class="row-fluid">
                        <div class="span12">
                            <button type="button" id="moreOptionsButton" class="btn btn-primary"><i id="iconSymbol" style="padding:0px;"class="icon-white icon-plus"></i></button> More options
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--<div class="modal-body">-->
        <!--<form name="shiftForm" class="form-horizontal">-->
            <!--<fieldset>-->
                <!--&lt;!&ndash;Hidden form elements - These are filled in by the jquery action &ndash;&gt;-->
                <!--<input style="display:none" id="shiftId" type="text" placeholder="ShiftId">-->
                <!--<input style="display:none" id="employeeId" type="text" placeholder="employeeId">-->
                <!--<input style="display:none" id="positionId" type="text" placeholder="positionId">-->
                <!--<input style="display:none" id="startDate" type="text" placeholder="positionId">-->
                <!--<input style="display:none" id="finishDate" type="text" placeholder="positionId">-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="shiftTime">Shift time</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="span6" id="shiftTime" placeholder="e.g. 9am - 5:30pm">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label id="shiftBreakLabel" class="control-label" for="shiftBreak">Numbers of hours break</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="input-large" id="shiftBreak" placeholder="0"><span id="shiftBreakDisplay" class="help-inline"></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;The next part will depend on the type of view. If we're in position view, an employee list will appear and if we're in employee view a position list will appear &ndash;&gt;-->
                <!--<div class="control-group">-->
                    <!--<label id="shiftOptionsLabel" class="control-label" for="shiftOptions"></label>-->
                    <!--<div class="controls">-->
                        <!--<select name="shiftOptions" class="span3" id="shiftOptions">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="recurringShiftOption">Is this a recurring shift?</label>-->
                    <!--<div class="controls">-->
                        <!--<select name="recurringShiftOption" class="span3" id="recurringShiftOption">-->
                            <!--<option value="-1">Not recurring</option>-->
                            <!--<option value="0">Daily</option>-->
                            <!--<option value="1">Weekly</option>-->
                            <!--<option value="2">Fortnightly</option>-->
                            <!--<option value="3">Monthly</option>-->
                            <!--<option value="4">Yearly</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="recurrenceEndDate">End Date</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="input-large" id="recurrenceEndDate" placeholder="dd/mm/yyyy"><span id="endDate" class="help-inline"></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="recurrenceIncrement">Increment</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="input-large" id="recurrenceIncrement" placeholder="1"><span id="inc" class="help-inline"></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->

                <!--</div>-->
                <!--<div>-->
                    <!--<div id="formButton" class="btn btn-primary">Confirm</div>-->
                    <!--<div id="deleteButton" class="btn btn-danger">Delete</div>-->
                    <!--<a href="#" data-dismiss="modal" class="btn">Close</a>-->
                <!--</div>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->
</div>
<div class="container-fluild firstRow">
    <div class="row-fluid firstRowContent">
        <div class="span12">
            <div class="tab-content">
                <div id="dayView" class="tab-pane in active">
                    <div class="container-fluid">
                        <div class="row-fluid dayViewControls">
                            <div class="span12">
                                <div class="btn-group pull-left">
                                    <a class="btn btn-success publishButton" href="#scheduler">Publish Changes</a>
                                </div>
                                <div style="padding-right:10px;padding-left:10px;border-left:2px solid #EEE" class="btn-group pull-left" id="dayMoveWeeks">
                                    <div class="btn dateChangeGroupButton" id="dayPrev"><i style="padding-bottom:4px;" class="icon-chevron-left"></i></div>
                                    <div class="btn dateChangeGroupButton" id="dayCurr">Today</div>
                                    <div class="btn dateChangeGroupButton" id="dayNext"><i style="padding-bottom:4px;" class="icon-chevron-right"></i></div>
                                </div>
                                <div style="padding-left:10px;padding-right:10px;border-left:2px solid #EEE" class="btn-group pull-left dayWeekTab">
                                    <a class="btn active" id="dayDayViewClick" href="#dayView" data-toggle="pill">Day</a>
                                    <a class="btn" id="dayWeekViewClick" href="#weekView" data-toggle="pill">Week</a>
                                </div>
                                <select class="pull-right locationSelect">
                                    %{
                                    for (location in locations) {
                                    %}
                                    <option value=${location.id}>${location.locationName}</option>
                                    %{
                                    }
                                    %}
                                </select>
                                <button style="margin-right:10px;" class="btn pull-right" id="loadDayShiftsButton">Load shifts</button>
                                <!--
                                <div style="margin-right:10px;margin-left:10px;" class="pull-right" id="loadShiftsDayDiv">
                                    <input style="margin-bottom:0px;" type="text" id="loadShiftsDatePicker" placeholder="Start Date. Type or select">
                                    <div id="loadShiftsDayBtn" class="btn">Load shifts</div>
                                </div>
                                -->
                            </div>
                        </div>
                        <div id="schedulerDay" class="row-fluid">
                            <div class="tab-content">
                                <div class="hidden" id="dayViewHiddenDate"></div>
                                <div class="pull-left" id="dayViewDisplayDate"></div>
                                <div class="btn-group pull-right employeePositionTab">
                                    <a class="btn active" id="dayEmployeeViewClick" href="#dayEmployeeView" data-toggle="pill">Employee</a>
                                    <a class="btn" id="dayPositionViewClick" href="#dayPositionView" data-toggle="pill">Position</a>
                                </div>
                                <div id="dayPositionView" class="tab-pane">
                                    <table style="margin-top:20px;margin-bottom:0px;" class="table table-bordered" id="dayPositionViewHeader"></table>
                                    <table id="positionDayTable" class="table table-bordered">
                                    </table>
                                </div>
                                <div id="dayEmployeeView" class="tab-pane in active">
                                    <table style="margin-top:20px;margin-bottom:0px;" class="table table-bordered" id="dayEmployeeViewHeader">
                                    </table>
                                    <table id="employeeDayTable" class="table table-bordered">
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="navbar navbar-fixed-bottom daySummary hidden">
                            <div class="navbar-inner headerBackground daySummaryContent">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <table id="dayViewSummary" class="table table-bordered">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="weekView" class="tab-pane">
                    <div class="container-fluid">
                        <div class="row-fluid weekControls">
                            <div class="span12">
                                <div class="btn-group pull-left">
                                    <a class="btn btn-success publishButton" href="#scheduler">Publish Changes</a>
                                </div>
                                <div style="padding-right:10px;padding-left:10px;border-left:2px solid #EEE;" class="btn-group pull-left" id="weekMoveWeeks">
                                    <div class="btn dateChangeGroupButton" id="weekPrev"><i style="padding-bottom:4px;" class="icon-chevron-left"></i></div>
                                    <div class="btn dateChangeGroupButton" id="weekCurr">Today</div>
                                    <div class="btn dateChangeGroupButton" id="weekNext"><i style="padding-bottom:4px;" class="icon-chevron-right"></i></div>
                                </div>
                                <div style="padding-left:10px;padding-right:10px;border-left:2px solid #EEE" class="btn-group pull-left dayWeekTab">
                                    <a class="btn active" id="weekDayViewClick" href="#dayView" data-toggle="pill">Day</a>
                                    <a class="btn" id="weekWeekViewClick" href="#weekView" data-toggle="pill">Week</a>
                                </div>
                                <select class="pull-right locationSelect">
                                    %{
                                    for (location in locations) {
                                    %}
                                    <option value=${location.id}>${location.locationName}</option>
                                    %{
                                    }
                                    %}
                                </select>
                                <button style="margin-right:10px;" class="btn pull-right" id="loadWeekShiftsButton">Load shifts</button>
                                <!--
                                <div style="margin-right:10px;margin-left:10px;" id="loadShiftsWeekBtn" class="btn pull-right">Load shifts</div>
                                <select name="loadWeekSelection" class="pull-right" id="loadWeek">
                                    <option value="0">None</option>
                                    <option value="1">1 week ago</option>
                                    <option value="2">2 weeks ago</option>
                                    <option value="3">3 weeks ago</option>
                                    <option value="4">4 weeks ago</option>
                                </select>
                                -->
                            </div>
                        </div>
                        <div id="schedulerWeek" class="row-fluid">
                            <div class="tab-content">
                                <div id="weekViewDate" class="pull-left"></div>
                                <div class="btn-group pull-right employeePositionTab">
                                    <a class="btn active" id="weekEmployeeViewClick" href="#weekEmployeeView" data-toggle="pill">Employee</a>
                                    <a class="btn" id="weekPositionViewClick" href="#weekPositionView" data-toggle="pill">Position</a>
                                </div>
                                <div id="weekPositionView" class="tab-pane">
                                    <table id="positionTable" class="table table-bordered">
                                    </table>
                                </div>
                                <div id="weekEmployeeView" class="tab-pane in active">
                                    <table id="employeeTable" class="table table-bordered">
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="navbar navbar-fixed-bottom weekSummary hidden">
                            <div class="navbar-inner weekSummaryContent">
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <table id="weekViewSummary" class="table table-bordered">
                                                <tr>
                                                    <td style="width:9%" class="employeeName">Hours</td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                    <td style="width:13%" class="summaryCell"><div class="btn summaryButton">09:00 - 17:00</div></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="public/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="public/javascripts/rosteriqCustom/planner.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQWeekView.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQDayView.js"></script>
<script src="public/javascripts/rosteriqCustom/editShiftForm.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>
<script src="public/javascripts/jquery-ui/dragSlider.js"></script>
<!--<script src="public/javascripts/bootstrap/bootstrap-transition.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-modal.js"></script>
<script src="public/javascripts/bootstrap/bootstrap-tab.js"></script>        -->
