#{extends 'main.html' /}
<div class="container-fluid firstRow noSubNavAdjustment">
    <div class="row-fluid firstRowContent">
        <div class="span12">
            <div class="welcomeMessage">
                <form id="redirectForm" method="POST" name="redirectForm" action="@{Application.userSetup()}">
                    <input type="text" class="hidden" name="timeZoneOffset" id="timeZoneOffset"/>
                </form>
                <p>Connecting ..... </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="public/javascripts/rosterIQCustom/redirect.js"></script>