#{extends 'main.html' /}
<div class="container-fluid firstRow noSubNavAdjustment">
    <div class="row-fluid firstRowContent">
        <div id="swapRequestView" class="span12">
            <div class="hidden" id="#schedulerLocationId"></div>
            <h4>Swap Shift Requests</h4>
            <table style="margin-top:20px;" id="swapRequestListTable" class="table table-bordered">
                <thead>
                    <th>With Shift</th>
                    <th>For Shift</th>
                    <th>From Person</th>
                    <th>Description</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid secondRow">
    <div class="row-fluid secondRowContent">
        <div id="dropRequestsView" class="span12">
            <h4>Drop Shift Requests</h4>
            <table style="margin-top:20px;" id="dropRequestListTable" class="table table-bordered">
                <thead>
                <th>Employee</th>
                <th>Shift</th>
                <th>Reason</th>
                <th>Actions</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="public/javascripts/rosteriqCustom/requests.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>