#{extends 'main.html' /}
<div class="settingsFields">
    <br><br><br><br>
    <b>${user.firstName} ${user.lastName}</b><br><br>
    <h2>Configure your settings</h2>
    <form name="input" action="@{Application.updateSettings()}">
        <input type="numeric" class="hidden" name="settingsId" value=${settings.id}> <br>
        Notify manager of shift swaps
        %{
            if (settings.notifyManagerOfShiftSwaps) {
        %}
        <input type="checkbox" name="notifyManagerOfShiftSwaps" checked/><br>
        %{
         } else {
        %}
        <input type="checkbox" name="notifyManagerOfShiftSwaps"><br>
        %{
         }
        %}
        Notify Employees of Open Shifts
        %{
        if (settings.notifyEmployeesOfOpenShifts) {
        %}
        <input type="checkbox" name="notifyEmployeesOfOpenShifts" checked/><br>
        %{
        } else {
        %}
        <input type="checkbox" name="notifyEmployeesOfOpenShifts"/><br>
        %{
        }
        %}
        Show cost of shifts in scheduler
        %{
        if (settings.showCostOfShiftInScheduler) {
        %}
        <input type="checkbox" name="showCostOfShiftInScheduler" checked><br>
        %{
        } else {
        %}
        <input type="checkbox" name="showCostOfShiftInScheduler"><br>
        %{
        }
        %}
        Allow employees to swap shifts
        %{
        if (settings.allowEmployeeToSwapShifts) {
        %}
        <input type="checkbox" name="allowEmployeeToSwapShifts" checked/><br>
        %{
        } else {
        %}
        <input type="checkbox" name="allowEmployeeToSwapShifts"/><br>
        %{
        }
        %}
        Require approval for drop shifts
        %{
        if (settings.approvalRequiredForDropShifts) {
        %}
        <input type="checkbox" name="approvalRequiredForDropShifts" checked/><br>
        %{
        } else {
        %}
        <input type="checkbox" name="approvalRequiredForDropShifts"/><br>
        %{
        }
        %}
        Employee can swap shift on day of shift
        %{
        if (settings.employeesCanSwapShiftsOnSameDay) {
        %}
        <input type="checkbox" name="employeesCanSwapShiftsOnSameDay" checked/><br>
        %{
        } else {
        %}
        <input type="checkbox" name="employeesCanSwapShiftsOnSameDay" /><br>
        %{
        }
        %}
        <input type="submit" name="Update"/><br>
    </form>
</div>