#{extends 'main.html' /}
<div class="container-fluid firstRow">
    <div class="row-fluid firstRowContent">
        <div class="span12">
                <select id="employeeSelect" class="pull-left">
                    %{for (employee in employees) { %}
                    <option value=${employee.id}>${employee.firstName} ${employee.lastName}</option>
                    %{ } %}
                </select>
                <div style="margin-left:20px;" class="locationDropDown pull-left">
                    <select id="locationSelect">
                        %{for (location in locations) { %}
                        <option value=${location.id}>${location.locationName}</option>
                        %{ } %}
                    </select>
                </div>
                <div class="btn-group pull-right">
                    <a class="btn btn-large btn-success" id="createNewUnavailability">Create new unavailability</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid unavailabilityListRow">
    <div class="row-fluid unavailabilityListRowContent">
        <div class="unavailabilityListContent">
            <table style="margin-top:20px;" id="unavailabilityBlocksTable" class="table table-bordered">
            </table>
        </div>
    </div>
</div>
<div class="container-fluid unavailabilityCreationRow noSubNavAdjustment">
    <div class="row-fluid unavailabilityCreationRowContent">
        <div class="span12">
            <div class="unavailabilityCreationContent">
                <h1 id="unavailabilityTitle"></h1>
                <div class="hidden" id="unavailabilityBlockId">-1</div>
                <div class="row-fluid">
                    <div class="span2">
                        <label>Title</label>
                        <input type="text" id="title" placeholder="e.g Uni semester">
                    </div>
                    <div class="span10">
                        <label>Description</label>
                        <input style="width:100%" type="text" id="description" placeholder="e.g Classes and stuff">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                        <label>Start Date </label>
                        <input type="text" id="startDatePicker" placeholder="Start Date. Type or select">
                    </div>
                    <div class="span2">
                        <label>Finish Date </label>
                        <input type="text" id="endDatePicker" placeholder="End Date. Type or select">
                    </div>
                </div>
                <div class="hidden" id="unavailabilityRangeHiddenDate"></div>
                <div id="unavailabilityRangeDisplayDate"></div>
                <div id="scheduleUnavailabilityView">
                    <table style="margin-top:20px;margin-bottom:0px;" class="table table-bordered" id="unavailabilityHeader">
                    </table>
                    <table id="unavailabilityTable" class="table table-bordered">
                    </table>
                </div>
                <div class="btn btn-success pull-right saveUnavailabilityBlock">Save</div><div id="closeUnavailabilityBlock" style="margin-right:10px;" class="btn btn-danger pull-right">Cancel</div>
            </div>
        </div>
    </div>
</div>
<script src="public/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="public/javascripts/rosteriqCustom/unavailability.js"></script>
<script src="public/javascripts/rosteriqCustom/rosterIQHelperFunctions.js"></script>
<script src="public/javascripts/jquery-ui/dragSlider.js"></script>